<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.common.js"></script>
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="main" style="width:600px;height:400px"></div>
  <script>
  
    $(document).ready(function(){
      //初始化echarts
      var myEcharts = echarts.init(document.getElementById("main"));
      
      var option = {
        legend: {
          data: ['inTps']
        },
        xAxis: {
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        yAxis: {
          type: 'category',
          data: ['one', 'two', 'three', 'four', 'five']
        },
        series: [
          {
            name: 'inTps',
            type: 'bar',
            data: [100, 200, 300, 400, 500]
          }
        ]
      };
      
      myEcharts.setOption(option);
      
      setInterval(function(){
        $.ajax({
          type: 'get',
          url: 'http://localhost:8080/getTop5',
          dataType: 'json',
          success: function(data) {

            var name = [];
            var option_data = [];
            $.each(data, function(index, item){
              console.log(item);
                name.push(item.name);
                option_data.push(item.tps);

            });

            option.yAxis.data = name;

            myEcharts.setOption(option);

            myEcharts.setOption({
//                yAxis: {
//                    data: name
//                },
                series: [{
                    data: option_data
                }]

            });

          }
        });
      }, 1000);
      
    });
    
  </script>
</body>
</html>